{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://management.azure.com/"
        }
    ],
    "info": {
        "description": "Dev Spaces REST API",
        "title": "DevSpacesManagement",
        "version": "2019-01-01-preview",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/devspaces/resource-manager/Microsoft.DevSpaces/preview/2019-01-01-preview/devspaces.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "azure.com",
        "x-serviceName": "devspaces",
        "x-tags": [
            "Azure",
            "Microsoft"
        ]
    },
    "paths": {
        "/providers/Microsoft.DevSpaces/operations": {
            "get": {
                "description": "Lists all the supported operations by the Microsoft.DevSpaces resource provider along with their description.",
                "operationId": "Operations_List",
                "parameters": [
                    {
                        "description": "Client API version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request was successful; response contains the list of operations under Microsoft.DevSpaces resource provider.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "nextLink": {
                                            "description": "The URI that can be used to request the next page for list of Azure operations.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "Resource provider operations list.",
                                            "items": {
                                                "properties": {
                                                    "display": {
                                                        "properties": {
                                                            "description": {
                                                                "description": "Description of the resource provider operation.",
                                                                "type": "string"
                                                            },
                                                            "operation": {
                                                                "description": "Name of the resource provider operation.",
                                                                "type": "string"
                                                            },
                                                            "provider": {
                                                                "description": "Name of the resource provider.",
                                                                "type": "string"
                                                            },
                                                            "resource": {
                                                                "description": "Name of the resource type.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "name": {
                                                        "description": "Resource provider operation name.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Lists operations for the resource provider.",
                "tags": [
                    "Operations"
                ],
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.DevSpaces/controllers": {
            "get": {
                "description": "Lists all the Azure Dev Spaces Controllers with their properties in the subscription.",
                "operationId": "Controllers_List",
                "parameters": [
                    {
                        "description": "Client API version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Azure subscription ID.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request was successful; response contains the list of Azure Dev Spaces Controllers in the subscription.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "nextLink": {
                                            "description": "The URI that can be used to request the next page for list of Azure Dev Spaces Controllers.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "List of Azure Dev Spaces Controllers.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "allOf": [
                                                            {
                                                                "description": "An Azure resource.",
                                                                "properties": {
                                                                    "id": {
                                                                        "description": "Fully qualified resource Id for the resource.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "name": {
                                                                        "description": "The name of the resource.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "type": {
                                                                        "description": "The type of the resource.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "x-ms-azure-resource": true,
                                                                "type": "object"
                                                            }
                                                        ],
                                                        "description": "The resource model definition for a ARM tracked top level resource.",
                                                        "properties": {
                                                            "location": {
                                                                "description": "Region where the Azure resource is located.",
                                                                "type": "string",
                                                                "x-ms-mutability": [
                                                                    "read",
                                                                    "create"
                                                                ]
                                                            },
                                                            "tags": {
                                                                "additionalProperties": {
                                                                    "type": "string"
                                                                },
                                                                "description": "Tags for the Azure resource.",
                                                                "type": "object",
                                                                "x-ms-mutability": [
                                                                    "read",
                                                                    "create",
                                                                    "update"
                                                                ]
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                ],
                                                "properties": {
                                                    "properties": {
                                                        "x-ms-client-flatten": true,
                                                        "properties": {
                                                            "dataPlaneFqdn": {
                                                                "description": "DNS name for accessing DataPlane services",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "hostSuffix": {
                                                                "description": "DNS suffix for public endpoints running in the Azure Dev Spaces Controller.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "provisioningState": {
                                                                "description": "Provisioning state of the Azure Dev Spaces Controller.",
                                                                "enum": [
                                                                    "Succeeded",
                                                                    "Failed",
                                                                    "Canceled",
                                                                    "Updating",
                                                                    "Creating",
                                                                    "Deleting",
                                                                    "Deleted"
                                                                ],
                                                                "readOnly": true,
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": true,
                                                                    "name": "ProvisioningState"
                                                                }
                                                            },
                                                            "targetContainerHostCredentialsBase64": {
                                                                "description": "Credentials of the target container host (base64).",
                                                                "type": "string",
                                                                "x-ms-mutability": [
                                                                    "create"
                                                                ]
                                                            },
                                                            "targetContainerHostResourceId": {
                                                                "description": "Resource ID of the target container host",
                                                                "type": "string",
                                                                "x-ms-mutability": [
                                                                    "read",
                                                                    "create"
                                                                ]
                                                            }
                                                        },
                                                        "required": [
                                                            "targetContainerHostResourceId",
                                                            "targetContainerHostCredentialsBase64"
                                                        ]
                                                    },
                                                    "sku": {
                                                        "description": "Model representing SKU for Azure Dev Spaces Controller.",
                                                        "properties": {
                                                            "name": {
                                                                "description": "The name of the SKU for Azure Dev Spaces Controller.",
                                                                "enum": [
                                                                    "S1"
                                                                ],
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": true,
                                                                    "name": "SkuName"
                                                                }
                                                            },
                                                            "tier": {
                                                                "description": "The tier of the SKU for Azure Dev Spaces Controller.",
                                                                "enum": [
                                                                    "Standard"
                                                                ],
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": true,
                                                                    "name": "SkuTier"
                                                                }
                                                            }
                                                        },
                                                        "required": [
                                                            "name"
                                                        ],
                                                        "type": "object"
                                                    }
                                                },
                                                "required": [
                                                    "properties",
                                                    "sku",
                                                    "location"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response describing the reason for operation failure.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.",
                                    "properties": {
                                        "error": {
                                            "description": "The details of the error.",
                                            "properties": {
                                                "code": {
                                                    "description": "Status code for the error.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "description": "Error message describing the error in detail.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "target": {
                                                    "description": "The target of the particular error.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Lists the Azure Dev Spaces Controllers in a subscription.",
                "tags": [
                    "Controllers"
                ],
                "x-ms-examples": {
                    "ControllersList": {
                        "parameters": {
                            "api-version": "2019-01-01-preview",
                            "subscriptionId": "00000000-0000-0000-0000-000000000000"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.DevSpaces/controllers/myControllerResource",
                                            "location": "eastus",
                                            "name": "myControllerResource",
                                            "properties": {
                                                "dataPlaneFqdn": "dataplane.azds.io",
                                                "hostSuffix": "suffix.azds.io",
                                                "provisioningState": "Succeeded",
                                                "targetContainerHostResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerService/managedClusters/myCluster"
                                            },
                                            "sku": {
                                                "name": "S1",
                                                "tier": "Standard"
                                            },
                                            "tags": {},
                                            "type": "Microsoft.DevSpaces/controllers"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevSpaces/controllers": {
            "get": {
                "description": "Lists all the Azure Dev Spaces Controllers with their properties in the specified resource group and subscription.",
                "operationId": "Controllers_ListByResourceGroup",
                "parameters": [
                    {
                        "description": "Client API version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Azure subscription ID.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Resource group to which the resource belongs.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 90
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request was successful; response contains the list of Azure Dev Spaces Controllers in the resource group.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "nextLink": {
                                            "description": "The URI that can be used to request the next page for list of Azure Dev Spaces Controllers.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "List of Azure Dev Spaces Controllers.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "allOf": [
                                                            {
                                                                "description": "An Azure resource.",
                                                                "properties": {
                                                                    "id": {
                                                                        "description": "Fully qualified resource Id for the resource.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "name": {
                                                                        "description": "The name of the resource.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "type": {
                                                                        "description": "The type of the resource.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "x-ms-azure-resource": true,
                                                                "type": "object"
                                                            }
                                                        ],
                                                        "description": "The resource model definition for a ARM tracked top level resource.",
                                                        "properties": {
                                                            "location": {
                                                                "description": "Region where the Azure resource is located.",
                                                                "type": "string",
                                                                "x-ms-mutability": [
                                                                    "read",
                                                                    "create"
                                                                ]
                                                            },
                                                            "tags": {
                                                                "additionalProperties": {
                                                                    "type": "string"
                                                                },
                                                                "description": "Tags for the Azure resource.",
                                                                "type": "object",
                                                                "x-ms-mutability": [
                                                                    "read",
                                                                    "create",
                                                                    "update"
                                                                ]
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                ],
                                                "properties": {
                                                    "properties": {
                                                        "x-ms-client-flatten": true,
                                                        "properties": {
                                                            "dataPlaneFqdn": {
                                                                "description": "DNS name for accessing DataPlane services",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "hostSuffix": {
                                                                "description": "DNS suffix for public endpoints running in the Azure Dev Spaces Controller.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "provisioningState": {
                                                                "description": "Provisioning state of the Azure Dev Spaces Controller.",
                                                                "enum": [
                                                                    "Succeeded",
                                                                    "Failed",
                                                                    "Canceled",
                                                                    "Updating",
                                                                    "Creating",
                                                                    "Deleting",
                                                                    "Deleted"
                                                                ],
                                                                "readOnly": true,
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": true,
                                                                    "name": "ProvisioningState"
                                                                }
                                                            },
                                                            "targetContainerHostCredentialsBase64": {
                                                                "description": "Credentials of the target container host (base64).",
                                                                "type": "string",
                                                                "x-ms-mutability": [
                                                                    "create"
                                                                ]
                                                            },
                                                            "targetContainerHostResourceId": {
                                                                "description": "Resource ID of the target container host",
                                                                "type": "string",
                                                                "x-ms-mutability": [
                                                                    "read",
                                                                    "create"
                                                                ]
                                                            }
                                                        },
                                                        "required": [
                                                            "targetContainerHostResourceId",
                                                            "targetContainerHostCredentialsBase64"
                                                        ]
                                                    },
                                                    "sku": {
                                                        "description": "Model representing SKU for Azure Dev Spaces Controller.",
                                                        "properties": {
                                                            "name": {
                                                                "description": "The name of the SKU for Azure Dev Spaces Controller.",
                                                                "enum": [
                                                                    "S1"
                                                                ],
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": true,
                                                                    "name": "SkuName"
                                                                }
                                                            },
                                                            "tier": {
                                                                "description": "The tier of the SKU for Azure Dev Spaces Controller.",
                                                                "enum": [
                                                                    "Standard"
                                                                ],
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": true,
                                                                    "name": "SkuTier"
                                                                }
                                                            }
                                                        },
                                                        "required": [
                                                            "name"
                                                        ],
                                                        "type": "object"
                                                    }
                                                },
                                                "required": [
                                                    "properties",
                                                    "sku",
                                                    "location"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response describing the reason for operation failure.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.",
                                    "properties": {
                                        "error": {
                                            "description": "The details of the error.",
                                            "properties": {
                                                "code": {
                                                    "description": "Status code for the error.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "description": "Error message describing the error in detail.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "target": {
                                                    "description": "The target of the particular error.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Lists the Azure Dev Spaces Controllers in a resource group.",
                "tags": [
                    "Controllers"
                ],
                "x-ms-examples": {
                    "ControllersListByResourceGroup": {
                        "parameters": {
                            "api-version": "2019-01-01-preview",
                            "resourceGroupName": "myResourceGroup",
                            "subscriptionId": "00000000-0000-0000-0000-000000000000"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.DevSpaces/controllers/myControllerResource",
                                            "location": "eastus",
                                            "name": "myControllerResource",
                                            "properties": {
                                                "dataPlaneFqdn": "dataplane.azds.io",
                                                "hostSuffix": "suffix.azds.io",
                                                "provisioningState": "Succeeded",
                                                "targetContainerHostResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerService/managedClusters/myCluster"
                                            },
                                            "sku": {
                                                "name": "S1",
                                                "tier": "Standard"
                                            },
                                            "tags": {},
                                            "type": "Microsoft.DevSpaces/controllers"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevSpaces/controllers/{name}": {
            "delete": {
                "description": "Deletes an existing Azure Dev Spaces Controller.",
                "operationId": "Controllers_Delete",
                "parameters": [
                    {
                        "description": "Client API version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Azure subscription ID.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Resource group to which the resource belongs.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 90
                        }
                    },
                    {
                        "description": "Name of the resource.",
                        "in": "path",
                        "name": "name",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "minLength": 3,
                            "maxLength": 31,
                            "pattern": "^[a-zA-Z0-9](-?[a-zA-Z0-9])*$"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request was successful; the Azure Dev Spaces Controller is deleted."
                    },
                    "202": {
                        "description": "The request was successful; Azure Dev Spaces Controller is being deleted."
                    },
                    "204": {
                        "description": "The request was successful; Azure Dev Spaces Controller does not exist."
                    },
                    "default": {
                        "description": "Error response describing the reason for operation failure. 409 - Conflict(Azure Dev Spaces Controller is already getting deleted.)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.",
                                    "properties": {
                                        "error": {
                                            "description": "The details of the error.",
                                            "properties": {
                                                "code": {
                                                    "description": "Status code for the error.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "description": "Error message describing the error in detail.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "target": {
                                                    "description": "The target of the particular error.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Deletes an Azure Dev Spaces Controller.",
                "tags": [
                    "Controllers"
                ],
                "x-ms-examples": {
                    "ControllersDelete": {
                        "parameters": {
                            "api-version": "2019-01-01-preview",
                            "name": "myControllerResource",
                            "resourceGroupName": "myResourceGroup",
                            "subscriptionId": "00000000-0000-0000-0000-000000000000"
                        },
                        "responses": {
                            "200": {},
                            "202": {
                                "headers": {
                                    "Location": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DevSpaces/operationresults/00000000-0000-0000-0000-000000000000"
                                }
                            },
                            "204": {}
                        }
                    }
                },
                "x-ms-long-running-operation": true
            },
            "get": {
                "description": "Gets the properties for an Azure Dev Spaces Controller.",
                "operationId": "Controllers_Get",
                "parameters": [
                    {
                        "description": "Client API version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Azure subscription ID.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Resource group to which the resource belongs.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 90
                        }
                    },
                    {
                        "description": "Name of the resource.",
                        "in": "path",
                        "name": "name",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "minLength": 3,
                            "maxLength": 31,
                            "pattern": "^[a-zA-Z0-9](-?[a-zA-Z0-9])*$"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request was successful; response contains the Azure Dev Spaces Controller.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "allOf": [
                                                {
                                                    "description": "An Azure resource.",
                                                    "properties": {
                                                        "id": {
                                                            "description": "Fully qualified resource Id for the resource.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "description": "The name of the resource.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "description": "The type of the resource.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "x-ms-azure-resource": true,
                                                    "type": "object"
                                                }
                                            ],
                                            "description": "The resource model definition for a ARM tracked top level resource.",
                                            "properties": {
                                                "location": {
                                                    "description": "Region where the Azure resource is located.",
                                                    "type": "string",
                                                    "x-ms-mutability": [
                                                        "read",
                                                        "create"
                                                    ]
                                                },
                                                "tags": {
                                                    "additionalProperties": {
                                                        "type": "string"
                                                    },
                                                    "description": "Tags for the Azure resource.",
                                                    "type": "object",
                                                    "x-ms-mutability": [
                                                        "read",
                                                        "create",
                                                        "update"
                                                    ]
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ],
                                    "properties": {
                                        "properties": {
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "dataPlaneFqdn": {
                                                    "description": "DNS name for accessing DataPlane services",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "hostSuffix": {
                                                    "description": "DNS suffix for public endpoints running in the Azure Dev Spaces Controller.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "provisioningState": {
                                                    "description": "Provisioning state of the Azure Dev Spaces Controller.",
                                                    "enum": [
                                                        "Succeeded",
                                                        "Failed",
                                                        "Canceled",
                                                        "Updating",
                                                        "Creating",
                                                        "Deleting",
                                                        "Deleted"
                                                    ],
                                                    "readOnly": true,
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": true,
                                                        "name": "ProvisioningState"
                                                    }
                                                },
                                                "targetContainerHostCredentialsBase64": {
                                                    "description": "Credentials of the target container host (base64).",
                                                    "type": "string",
                                                    "x-ms-mutability": [
                                                        "create"
                                                    ]
                                                },
                                                "targetContainerHostResourceId": {
                                                    "description": "Resource ID of the target container host",
                                                    "type": "string",
                                                    "x-ms-mutability": [
                                                        "read",
                                                        "create"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "targetContainerHostResourceId",
                                                "targetContainerHostCredentialsBase64"
                                            ]
                                        },
                                        "sku": {
                                            "description": "Model representing SKU for Azure Dev Spaces Controller.",
                                            "properties": {
                                                "name": {
                                                    "description": "The name of the SKU for Azure Dev Spaces Controller.",
                                                    "enum": [
                                                        "S1"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": true,
                                                        "name": "SkuName"
                                                    }
                                                },
                                                "tier": {
                                                    "description": "The tier of the SKU for Azure Dev Spaces Controller.",
                                                    "enum": [
                                                        "Standard"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": true,
                                                        "name": "SkuTier"
                                                    }
                                                }
                                            },
                                            "required": [
                                                "name"
                                            ],
                                            "type": "object"
                                        }
                                    },
                                    "required": [
                                        "properties",
                                        "sku",
                                        "location"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response describing the reason for operation failure. 404 - NotFound(Azure Dev Spaces Controller doesn't exist.)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.",
                                    "properties": {
                                        "error": {
                                            "description": "The details of the error.",
                                            "properties": {
                                                "code": {
                                                    "description": "Status code for the error.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "description": "Error message describing the error in detail.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "target": {
                                                    "description": "The target of the particular error.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Gets an Azure Dev Spaces Controller.",
                "tags": [
                    "Controllers"
                ],
                "x-ms-examples": {
                    "ControllersGet": {
                        "parameters": {
                            "api-version": "2019-01-01-preview",
                            "name": "myControllerResource",
                            "resourceGroupName": "myResourceGroup",
                            "subscriptionId": "00000000-0000-0000-0000-000000000000"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.DevSpaces/controllers/myControllerResource",
                                    "location": "eastus",
                                    "name": "myControllerResource",
                                    "properties": {
                                        "dataPlaneFqdn": "dataplane.azds.io",
                                        "hostSuffix": "suffix.azds.io",
                                        "provisioningState": "Succeeded",
                                        "targetContainerHostResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerService/managedClusters/myCluster"
                                    },
                                    "sku": {
                                        "name": "S1",
                                        "tier": "Standard"
                                    },
                                    "tags": {},
                                    "type": "Microsoft.DevSpaces/controllers"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "description": "Updates the properties of an existing Azure Dev Spaces Controller with the specified update parameters.",
                "operationId": "Controllers_Update",
                "parameters": [
                    {
                        "description": "Client API version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Azure subscription ID.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Resource group to which the resource belongs.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 90
                        }
                    },
                    {
                        "description": "Name of the resource.",
                        "in": "path",
                        "name": "name",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "minLength": 3,
                            "maxLength": 31,
                            "pattern": "^[a-zA-Z0-9](-?[a-zA-Z0-9])*$"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request was successful; response contains the updated Azure Dev Spaces Controller .",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "allOf": [
                                                {
                                                    "description": "An Azure resource.",
                                                    "properties": {
                                                        "id": {
                                                            "description": "Fully qualified resource Id for the resource.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "description": "The name of the resource.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "description": "The type of the resource.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "x-ms-azure-resource": true,
                                                    "type": "object"
                                                }
                                            ],
                                            "description": "The resource model definition for a ARM tracked top level resource.",
                                            "properties": {
                                                "location": {
                                                    "description": "Region where the Azure resource is located.",
                                                    "type": "string",
                                                    "x-ms-mutability": [
                                                        "read",
                                                        "create"
                                                    ]
                                                },
                                                "tags": {
                                                    "additionalProperties": {
                                                        "type": "string"
                                                    },
                                                    "description": "Tags for the Azure resource.",
                                                    "type": "object",
                                                    "x-ms-mutability": [
                                                        "read",
                                                        "create",
                                                        "update"
                                                    ]
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ],
                                    "properties": {
                                        "properties": {
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "dataPlaneFqdn": {
                                                    "description": "DNS name for accessing DataPlane services",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "hostSuffix": {
                                                    "description": "DNS suffix for public endpoints running in the Azure Dev Spaces Controller.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "provisioningState": {
                                                    "description": "Provisioning state of the Azure Dev Spaces Controller.",
                                                    "enum": [
                                                        "Succeeded",
                                                        "Failed",
                                                        "Canceled",
                                                        "Updating",
                                                        "Creating",
                                                        "Deleting",
                                                        "Deleted"
                                                    ],
                                                    "readOnly": true,
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": true,
                                                        "name": "ProvisioningState"
                                                    }
                                                },
                                                "targetContainerHostCredentialsBase64": {
                                                    "description": "Credentials of the target container host (base64).",
                                                    "type": "string",
                                                    "x-ms-mutability": [
                                                        "create"
                                                    ]
                                                },
                                                "targetContainerHostResourceId": {
                                                    "description": "Resource ID of the target container host",
                                                    "type": "string",
                                                    "x-ms-mutability": [
                                                        "read",
                                                        "create"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "targetContainerHostResourceId",
                                                "targetContainerHostCredentialsBase64"
                                            ]
                                        },
                                        "sku": {
                                            "description": "Model representing SKU for Azure Dev Spaces Controller.",
                                            "properties": {
                                                "name": {
                                                    "description": "The name of the SKU for Azure Dev Spaces Controller.",
                                                    "enum": [
                                                        "S1"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": true,
                                                        "name": "SkuName"
                                                    }
                                                },
                                                "tier": {
                                                    "description": "The tier of the SKU for Azure Dev Spaces Controller.",
                                                    "enum": [
                                                        "Standard"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": true,
                                                        "name": "SkuTier"
                                                    }
                                                }
                                            },
                                            "required": [
                                                "name"
                                            ],
                                            "type": "object"
                                        }
                                    },
                                    "required": [
                                        "properties",
                                        "sku",
                                        "location"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response describing the reason for operation failure. 404 - NotFound(Azure Dev Spaces Controller doesn't exist.), 400 - BadRequest(One or more update parameters are invalid.)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.",
                                    "properties": {
                                        "error": {
                                            "description": "The details of the error.",
                                            "properties": {
                                                "code": {
                                                    "description": "Status code for the error.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "description": "Error message describing the error in detail.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "target": {
                                                    "description": "The target of the particular error.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Updates an Azure Dev Spaces Controller.",
                "tags": [
                    "Controllers"
                ],
                "x-ms-examples": {
                    "ControllersUpdate": {
                        "parameters": {
                            "api-version": "2019-01-01-preview",
                            "controllerUpdateParameters": {
                                "tags": {
                                    "key": "value"
                                }
                            },
                            "name": "myControllerResource",
                            "resourceGroupName": "myResourceGroup",
                            "subscriptionId": "00000000-0000-0000-0000-000000000000"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.DevSpaces/controllers/myControllerResource",
                                    "location": "eastus",
                                    "name": "myControllerResource",
                                    "properties": {
                                        "dataPlaneFqdn": "dataplane.azds.io",
                                        "hostSuffix": "suffix.azds.io",
                                        "provisioningState": "Succeeded",
                                        "targetContainerHostResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerService/managedClusters/myCluster"
                                    },
                                    "sku": {
                                        "name": "S1",
                                        "tier": "Standard"
                                    },
                                    "tags": {
                                        "key": "value"
                                    },
                                    "type": "Microsoft.DevSpaces/controllers"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Parameters for updating an Azure Dev Spaces Controller.",
                                "properties": {
                                    "tags": {
                                        "additionalProperties": {
                                            "type": "string"
                                        },
                                        "description": "Tags for the Azure Dev Spaces Controller."
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "description": "Parameters for updating the Azure Dev Spaces Controller.",
                    "required": true
                }
            },
            "put": {
                "description": "Creates an Azure Dev Spaces Controller with the specified create parameters.",
                "operationId": "Controllers_Create",
                "parameters": [
                    {
                        "description": "Client API version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Azure subscription ID.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Resource group to which the resource belongs.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 90
                        }
                    },
                    {
                        "description": "Name of the resource.",
                        "in": "path",
                        "name": "name",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "minLength": 3,
                            "maxLength": 31,
                            "pattern": "^[a-zA-Z0-9](-?[a-zA-Z0-9])*$"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request was successful; response contains the created Azure Dev Spaces Controller .",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "allOf": [
                                                {
                                                    "description": "An Azure resource.",
                                                    "properties": {
                                                        "id": {
                                                            "description": "Fully qualified resource Id for the resource.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "description": "The name of the resource.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "description": "The type of the resource.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "x-ms-azure-resource": true,
                                                    "type": "object"
                                                }
                                            ],
                                            "description": "The resource model definition for a ARM tracked top level resource.",
                                            "properties": {
                                                "location": {
                                                    "description": "Region where the Azure resource is located.",
                                                    "type": "string",
                                                    "x-ms-mutability": [
                                                        "read",
                                                        "create"
                                                    ]
                                                },
                                                "tags": {
                                                    "additionalProperties": {
                                                        "type": "string"
                                                    },
                                                    "description": "Tags for the Azure resource.",
                                                    "type": "object",
                                                    "x-ms-mutability": [
                                                        "read",
                                                        "create",
                                                        "update"
                                                    ]
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ],
                                    "properties": {
                                        "properties": {
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "dataPlaneFqdn": {
                                                    "description": "DNS name for accessing DataPlane services",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "hostSuffix": {
                                                    "description": "DNS suffix for public endpoints running in the Azure Dev Spaces Controller.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "provisioningState": {
                                                    "description": "Provisioning state of the Azure Dev Spaces Controller.",
                                                    "enum": [
                                                        "Succeeded",
                                                        "Failed",
                                                        "Canceled",
                                                        "Updating",
                                                        "Creating",
                                                        "Deleting",
                                                        "Deleted"
                                                    ],
                                                    "readOnly": true,
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": true,
                                                        "name": "ProvisioningState"
                                                    }
                                                },
                                                "targetContainerHostCredentialsBase64": {
                                                    "description": "Credentials of the target container host (base64).",
                                                    "type": "string",
                                                    "x-ms-mutability": [
                                                        "create"
                                                    ]
                                                },
                                                "targetContainerHostResourceId": {
                                                    "description": "Resource ID of the target container host",
                                                    "type": "string",
                                                    "x-ms-mutability": [
                                                        "read",
                                                        "create"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "targetContainerHostResourceId",
                                                "targetContainerHostCredentialsBase64"
                                            ]
                                        },
                                        "sku": {
                                            "description": "Model representing SKU for Azure Dev Spaces Controller.",
                                            "properties": {
                                                "name": {
                                                    "description": "The name of the SKU for Azure Dev Spaces Controller.",
                                                    "enum": [
                                                        "S1"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": true,
                                                        "name": "SkuName"
                                                    }
                                                },
                                                "tier": {
                                                    "description": "The tier of the SKU for Azure Dev Spaces Controller.",
                                                    "enum": [
                                                        "Standard"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": true,
                                                        "name": "SkuTier"
                                                    }
                                                }
                                            },
                                            "required": [
                                                "name"
                                            ],
                                            "type": "object"
                                        }
                                    },
                                    "required": [
                                        "properties",
                                        "sku",
                                        "location"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "The request was successful; Azure Dev Spaces Controller is being created.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "allOf": [
                                                {
                                                    "description": "An Azure resource.",
                                                    "properties": {
                                                        "id": {
                                                            "description": "Fully qualified resource Id for the resource.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "description": "The name of the resource.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "description": "The type of the resource.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "x-ms-azure-resource": true,
                                                    "type": "object"
                                                }
                                            ],
                                            "description": "The resource model definition for a ARM tracked top level resource.",
                                            "properties": {
                                                "location": {
                                                    "description": "Region where the Azure resource is located.",
                                                    "type": "string",
                                                    "x-ms-mutability": [
                                                        "read",
                                                        "create"
                                                    ]
                                                },
                                                "tags": {
                                                    "additionalProperties": {
                                                        "type": "string"
                                                    },
                                                    "description": "Tags for the Azure resource.",
                                                    "type": "object",
                                                    "x-ms-mutability": [
                                                        "read",
                                                        "create",
                                                        "update"
                                                    ]
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ],
                                    "properties": {
                                        "properties": {
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "dataPlaneFqdn": {
                                                    "description": "DNS name for accessing DataPlane services",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "hostSuffix": {
                                                    "description": "DNS suffix for public endpoints running in the Azure Dev Spaces Controller.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "provisioningState": {
                                                    "description": "Provisioning state of the Azure Dev Spaces Controller.",
                                                    "enum": [
                                                        "Succeeded",
                                                        "Failed",
                                                        "Canceled",
                                                        "Updating",
[...]
